@charset "UTF-8";

/* div{
    border: 1px black solid;
}
span{
    border: 1px blue solid;
} */

/* 매물등록메뉴 */
#wrap{
    background-color: white;
    width: 60%;
    margin-left: 19%;
    margin-top: 2%;
    /* text-align: center; */
}
#wrap>div,h4,h2{
    margin-left: 20px;
}
.greytext{
    background-color: white; 
    text-align:center;
    margin-left: -5px;
    width: 35px;
    border: 1px solid rgb(60, 60, 60);
    font-size: 13px;
    color: rgb(60, 60, 60);
}
.redtext{
    color: red;
}
.greenbutton{
    background-color: rgb(7, 90, 42);
    color:white;
    /* border-width: 1px; */
}
#wrap>hr{
    width: 95%;
    margin-top: 25px;
}
.checkbox{
    accent-color: yellow;
    width: 50px
}

/* 네비게이션 바 */
#navi{
    background-color: rgb(113, 112, 112);
    color: white;
    position: fixed;
    /* left: 1060px; */
    left: 85%;
    /* bottom: 300px; */
    bottom: 20%;
    /* top : 130px; */
    top: 21%;
    width: 150px;
    height: 560px;
}
#navi>h4{
    margin-bottom: 5px;
    font-size: 14px;
}
.aTag{
    text-decoration: none;
    color: white; 
    margin-left: 30px;
    margin-top: 10px;
    font-size: 12px;
}
#navi>hr{
    border: 1px solid gray;
    background-color: white;
    width:80%;
}
